# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
.nyc_output

# Production
build/
dist/

# Environment variables
!unlokd-frontend/.env
.env.local
.env.production
.env.test

# IDE
.vscode/
.idea/
*.swp
*.swo
.cursor/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Database
*.sql
*.sqlite
*.db

# Prisma
prisma/.env
!unlokd-backend/prisma/migrations/**/*.sql